{% extends 'base.html' %}

{% block body %}
<h1>[ {{ hashtag.content }} ] 게시글 모아보기</h1>
{% if articles|length == 0 %}
  해당하는 해시태그 게시글이 없습니다.
{% else %}
  <h4>{{ articles|length }}개의 글이 있습니다.</h4>
{% endif %}


<hr>
{% for article in articles %}
  <p>글 제목 : {{ article.title }}</p>
  <p>글 내용 : {{ article.content }}</p>
  <p>{{ article.comment_set.all|length }}의 댓글이 있습니다</p>
  <p>{{ article.like_user.all|length }}명이 이 글을 좋아합니다.</p>
<p><a href="{% url 'articles:detail' article.pk %}">게시글 바로가기</a></p>
{% endfor %}
<a href="{% url 'articles:index'%} ">메인으로 가기</a>
  
{% endblock %}