{% extends 'base.html' %}

{% block body %}
<h1 class="text-center"> DETAIL </h1>
<p>글 번호 : {{article.pk}}</p>
<p>글 제목 : {{article.title}}</p>
<p>글 내용 : {{article.content}}</p>
<p>생성 시각 : {{article.created_at}} </p>
<p>수정 시각 : {{article.updated_at}} </p>
<hr>
<a href="{% url 'articles:index'%}">[BACK]</a>
<a href="{% url 'articles:update' article.pk %}">[EDIT]<a>
{% comment %} <a href="{% url 'articles:delete' article.pk %}">[DELETE]</a> {% endcomment %}
<form action="{% url 'articles:delete' article.pk %}" method="POST" style="display:inline;" onclick="return confirm('진짜...삭제...?')">
  {% csrf_token %}
  <input type="submit" value="DELETE">
</form>
{% endblock %}