{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- Bootstrap -->
  {% bootstrap_css %}
  <!-- FontAwesome -->
  <script src="https://kit.fontawesome.com/c6d30f413c.js" crossorigin="anonymous"></script>
</head>
<body>
  {% include 'articles/_nav.html' %}
  <div class="container">
    {% block body %}
    {% endblock %}
  </div>

  {% bootstrap_javascript jquery='full' %}
</body>
</html>