{% extends 'base.html' %}

{% load static %}
{% block body %}
<h1 class="text-center"> DETAIL </h1>

<!--
  article.image.url : 파일 주소
  articles.image : 파일 이름 (sample.png)
    -->

<!--
  1. 샘플 이미지를 넣어두고, 이미지가 없는 게시글은 샘플 이미지 표시
  2. 이미지가 있는 경우에만 이미지 표시
    -->

{% if article.image %}
<img src="{{ article.image.url}}" alt="{{article.image}}">
{% else %}
<p> 사진이 없어요...</p>
<img src="{% static 'articles/no_image.png' %}" alt="no_image">
{% endif %}

<p>글 번호 : {{article.pk}}</p>
<p>글 제목 : {{article.title}}</p>
<p>글 내용 : {{article.content}}</p>
<p>생성 시각 : {{article.created_at}} </p>
<p>수정 시각 : {{article.updated_at}} </p>
<hr>
<a href="{% url 'articles:index'%}">[BACK]</a>
<a href="{% url 'articles:update' article.pk %}">[EDIT]<a>
    {% comment %} <a href="{% url 'articles:delete' article.pk %}">[DELETE]</a> {% endcomment %}
    <form action="{% url 'articles:delete' article.pk %}" method="POST" style="display:inline;"
      onclick="return confirm('진짜...삭제...?')">
      {% csrf_token %}
      <input type="submit" value="DELETE">
    </form>
    <hr>

    <form action="{% url 'articles:comments_create' article.pk %}" method="POST" style="display:inline;">
      {% csrf_token %}
      <input type="text" name="content">
      <input type="submit" value="작성하기">
    </form>
    <hr>

    <!-- comments의 갯수 세는 방법-->
    <p> 1 . {{comments|length}}개의 댓글이 있습니다.</p>
    <p> 2 . {{article.comment_set.all|length}}개의 댓글이 있습니다.</p>
    <!-- count 함수를 이용하는데, DB에 Query문을 한 번 더 실행해서 쬐끔 느림 -->
    <p> 3 . {{comments.count}}</p>


    {% for comment in  comments%}
    <li>
      {{comment.content}}
      <form action="{% url 'articles:comments_delete' article.pk comment.pk%}" method="POST" style="display:inline;">
        {% csrf_token %}
        <input type="submit" value="DELETE">
      </form>
    </li>

    {% empty %}
    <p> 댓글이 없어유 </p>
    {% endfor %}
    <hr>
    {% endblock %}