{% extends 'base.html' %}
{% load bootstrap4 %}

{% block body %}
{% if request.resolver_match.url_name == 'create' %}
<h1 class="text-center">CREATE</h1>
{% else %}
<h1 class="text-center">UPDATE</h1>
{% endif %}
<hr>
<div class="container">
  <form action="" method="POST" class="mx-auto" style="max-width: 500px">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    {% comment %} {{ form.as_p }} {% endcomment %}
    <div class="text-center">
      {% buttons submit='제출' reset='초기화' %}
      {% endbuttons %}
    </div>
    {% comment %} <input type="submit"> {% endcomment %}
  </form>
</div>
<hr>
{% if request.resolver_match.url_name == 'create' %}
<a href="{% url 'articles:index' %}">[BACK]</a>
{% else %}
<a href="{% url 'articles:detail' article.pk%}">[BACK]</a>
{% endif %}
{% endblock %}