{% extends 'base.html' %}
{% block body %}
<h1>{{movie.title}}</h1>
  <hr>
  <img src="{{movie.poster_url}}" alt="" width=500 height=500><br>
  English : {{movie.title_en}} <br>
  관객수 : {{movie.audience}} <br>
  개봉날짜 : {{movie.open_date}} <br>
  장르 : {{movie.genre}} <br>
  상영등급 : {{movie.watch_grade}} <br>
  평점 : {{movie.score}} <br>
  줄거리 : {{movie.description}} <br>
  <hr>
  <a href="{% url 'movies:index' %}">[목록]</a>
  <a href="{% url 'movies:delete' movie.pk%}">[삭제]</a>
  <a href="{% url 'movies:edit' movie.pk %}">[수정]</a>
{% endblock %}

