  
{% extends 'base.html' %}

{% block body %}
<h1>Articles</h1>
<a href="{% url 'articles:create' %}">[NEW]</a>
<hr>

<form class="mb-4" action="{% url 'articles:search' %}">
  <div class="form-row justify-content-center">
    <div class="mb-2 col-12 col-sm-9 col-md-10">
      <input type="text" name="query" class="form-control" placeholder="제목을 입력해주세요.">
    </div>
    <div class="col-8 col-sm-3 col-md-2">
      <input type="submit" class="form-control btn btn-success" value="검색">
    </div>
  </div>
</form>

<div class="row">
  {% for article in articles %}
    <!-- 모듈화 시켜둔 article 템플릿 가져오기 -->
    {% include 'articles/_article.html' %}
  {% endfor %}
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <!-- 이전 페이지가 있을 경우 -->
    {% if articles.has_previous %}
    <li class="page-item">
      <a class="page-link" href="{% url 'articles:index' %}?page={{ articles.previous_page_number }}" tabindex="-1" aria-disabled="true">◀</a>
    </li>
    {% endif %}

    <!-- 페이지 버튼 -->
    {% for num in articles.paginator.page_range %}
    <li class="page-item {% if num == articles.number %}active{% endif %}">
      <a class="page-link" href="{% url 'articles:index' %}?page={{ num }}">{{ num }}</a>
    </li>
    {% endfor %}

    <!-- 다음 페이지 있으면 Next 버튼 출력 -->
    {% if articles.has_next %}
    <li class="page-item">
      <a class="page-link" href="{% url 'articles:index' %}?page={{ articles.next_page_number }}">▶</a>
    </li>
    {% endif %}
  </ul>
</nav>


<script>
  const likeButtons = document.querySelectorAll('.like-button')
  likeButtons.forEach(button => {
    button.addEventListener('click', function(event) {
      const articleId = event.target.dataset.id
      // 장고가 Ajax 요청을 구분하게 하기 위해서 XHR 객체를 담아서 보내준다.
      axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'
      axios.defaults.xsrfCookieName = 'csrftoken'
      axios.defaults.xsrfHeaderName = 'X-CSRFToken'
      {% if user.is_authenticated %}
      axios.post(`/articles/${articleId}/like/`)
        .then(response => {
          document.querySelector(`#like-count-${articleId}`).innerText = response.data.count
          if (response.data.liked) {
            event.target.style.color = 'crimson'
          } else {
            event.target.style.color = 'black'
          }
        })
        .catch(error => { console.log(error) })
      {% else %}
        alert('로그인을 해야 기능을 사용할 수 있습니다.')
      {% endif %}
    })
  })
</script>
{% endblock %}