<h1> 린 생 역 전 가 능 ? </h1>
<h3 > 눼 가 뽑 은 롯 호 번 호 는 ... </h3>
<p> {{lottos}} 이 다. </p>
<h3> 882 회 차 롯 호 당 첨 번 호 데 스 네 ...</h3>
<p> {{real_lottos}} 이 다 . </p>


<h1>결론</h1>
{% if lottos == real_lottos%}
  <p> ㅅ ㄱ 닝 겐 들 아</p>
{% elif msg == '2등'%}
  <p>동메달 보다 은메달이 아쉬운법... {{msg}} 이라니...</p>
{% elif msg == '3등'%}
  <p>꺄악 몇백만원이당 {{msg}} 개이득~</p>
{% elif msg == '4등'%}
  <p> 5만원이군 {{msg}} 까까 먹으러가자...</p>
{% elif msg == '5등'%}
  <p> 계란빵 5개 먹으러간다. {{msg}}/p>
{% else %}
  <p> 롤로노아 조로 : 아 무 일 도 없 었 다. </p>
  <p>한자리도 맞추지 못했다.... </p>
{% endif %}